scripts/patches/*.patch whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
host-kernel/rocky/patches/*.patch whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
scripts/tests/fixtures/rust-core-rocky-6.12/Documentation/kbuild/makefiles.rst conflict-marker-size=32
scripts/tests/fixtures/rust-core-rocky-6.12/include/linux/blk-mq.h whitespace=-blank-at-eol
scripts/tests/fixtures/rust-core-rocky-6.12/Makefile whitespace=-blank-at-eol
